<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.application.add']}</title>
</h:head>

<h:body>
	<p:growl autoUpdate="true" id="growl" for="growl" globalOnly="true" />
	<h:form id="applicationAdd" enctype="multipart/form-data">
		<div class="wrapper">
			<div class="middle">
				<p>#{msg['page.application.add']}</p>
				<div class="add-left-side">
					<div class="field-group">
						<p:outputLabel for="firstName" value="#{msg['user.first.name']}" />
						<div class="column">
							<p:inputText id="firstName" required="true"
								value="#{jobApplicationView.user.firstName}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="firstName" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="lastName" value="#{msg['user.last.name']}" />
						<div class="column">
							<p:inputText id="lastName" required="true"
								value="#{jobApplicationView.user.lastName}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="lastName" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="birthDate" value="#{msg['user.birth.date']}" />
						<div class="column">
							<p:calendar id="birthDate" pattern="dd-MM-yyyy" required="true"
								mindate="#{userView.minDate}" maxdate="#{userView.maxDate}"
								requiredMessage="#{msg['msg.required']}" navigator="true"
								value="#{jobApplicationView.user.birthDate}" />
						</div>
						<p:message for="birthDate" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="email" value="#{msg['user.email']}" />
						<div class="column">
							<p:inputText id="email" required="true"
								value="#{jobApplicationView.user.email}"
								requiredMessage="#{msg['msg.required']}"
								validatorMessage="#{msg['msg.email'] }">
								<f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
							</p:inputText>
						</div>
						<p:message for="email" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="phoneNumber" value="#{msg['user.phone']}" />
						<div class="column">
							<p:inputMask id="phoneNumber" required="true" mask="999-999-999"
								value="#{jobApplicationView.user.phoneNumber}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="phoneNumber" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="password" value="#{msg['user.password']}" />
						<div class="column">
							<p:password id="password" match="confirmPassword"
								value="#{jobApplicationView.user.password}" required="true"
								requiredMessage="#{msg['msg.required']}"
								validatorMessage="#{msg['msg.password']}">
								<f:validateRegex
									pattern="^(?-i)(?=^.{8,}$)((?!.*\s)(?=.*[A-Z])(?=.*[a-z]))((?=(.*\d){1,})|(?=(.*\W){1,}))^.*$"></f:validateRegex>
							</p:password>
						</div>
						<p:message for="password" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="confirmPassword"
							value="#{msg['user.password.repeat']}" />
						<div class="column">
							<p:password id="confirmPassword" required="true"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="confirmPassword" display="text" />
					</div>
				</div>
				<div class="add-right-side">
					<div class="field-group">
						<p:outputLabel for="city" value="#{msg['address.city']}" />
						<div class="column">
							<p:inputText id="city" required="true"
								value="#{jobApplicationView.user.address.city}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="city" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="street" value="#{msg['address.street']}" />
						<div class="column">
							<p:inputText id="street"
								value="#{jobApplicationView.user.address.street}" />
						</div>
						<p:message for="street" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="zipCode" value="#{msg['address.zipcode']}" />
						<div class="column">
							<p:inputMask id="zipCode" required="true" mask="99-999"
								value="#{jobApplicationView.user.address.zipCode}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="zipCode" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="houseNo" value="#{msg['address.houseNo']}" />
						<div class="column">
							<p:inputText id="houseNo" required="true"
								value="#{jobApplicationView.user.address.houseNumber}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="houseNo" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="flatNo" value="#{msg['address.flatNo']}" />
						<div class="column">
							<p:inputText id="flatNo"
								value="#{jobApplicationView.user.address.flatNumber}" />
						</div>
						<p:message for="flatNo" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="cv" value="#{msg['cv']}" />
						<div class="column">
							<center>
								<p:fileUpload id="cv" cancelLabel="#{msg['button.cancel']}"
									label="#{msg['button.choose']}"
									uploadLabel="#{msg['button.upload']}"
									fileUploadListener="#{jobApplicationView.upload}"
									mode="advanced" dragDropSupport="false" multiple="false"
									update="growl" allowTypes="/(\.|\/)(pdf)$/" style="width: 75%;"
									invalidFileMessage="#{msg['badtype']}" />
							</center>
						</div>
						<p:message for="cv" display="text" />
					</div>
					<div class="field-group">
						<p:commandButton id="button-save" value="#{msg['button.save']}"
							action="#{jobApplicationView.startEmploymentProcess}"
							update="applicationAdd"></p:commandButton>
						<p:commandButton id="button-cancel"
							value="#{msg['button.cancel']}"
							action="#{jobApplicationView.cancel}" immediate="true"></p:commandButton>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>