<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/loginstyle.css" />
	<title>#{msg['title.login']}</title>
</h:head>

<h:body>
	<f:event type="preRenderView"
		listener="#{loginView.checkAuthentication}" />
	<h:form>
		<div id="loginwrapper">
			<div id="logincontent">
				<div class="logo-div">
					<p:graphicImage library="images" name="logo.png" width="100%" />
				</div>
				<div class="textfields-login-holder">
					<p:inputText id="email" placeholder="Adres e-mail"
						value="#{loginView.email}" />
					<p:password id="password" placeholder="Hasło"
						value="#{loginView.password}" />
				</div>
				<div class="button-login-holder">
					<p:commandButton id="submit" value="Zaloguj"
						action="#{loginView.login}"></p:commandButton>
					<p:commandLink id="applicationAdd" value="Złóż podanie o pracę"
						action="#{jobApplicationView.applyForJob}" style="color: white"></p:commandLink>
				</div>
				<p:messages autoUpdate="true" />
			</div>
		</div>
	</h:form>
</h:body>
</html>