<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.invoice.accounted']}</title>
</h:head>

<h:body>
	<h:form id="accountedInvoices">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['invoice.accounted']}</p>
				<p:dataTable var="invoice" value="#{invoiceView.accountedInvoices}"
					paginator="true" paginatorPosition="top" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
					rowsPerPageTemplate="5,10,15" emptyMessage="#{msg['data.empty']}"
					widgetVar="invoiceTable">

					<p:column headerText="#{msg['invoice.number']}"
						filterBy="#{invoice.invoiceNumber}" filterMatchMode="contains">
						<h:outputText value="#{invoice.invoiceNumber}" />
					</p:column>
					<p:column headerText="#{msg['invoice.issuedate']}"
						filterBy="#{invoice.issueDate}" filterMatchMode="contains">
						<h:outputText value="#{invoice.issueDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{msg['invoice.paymentdate']}"
						filterBy="#{invoice.paymentDate}" filterMatchMode="contains">
						<h:outputText value="#{invoice.paymentDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{msg['invoice.type']}"
						filterBy="#{invoice.invoiceType}" filterMatchMode="exact">
						<f:facet name="filter">
							<p:selectOneMenu onchange="PF('invoiceTable').filter()"
								style="width: 100px !important;">
								<f:selectItem itemLabel="#{msg['data.chose']}"
									itemValue="#{null}" noSelectionOption="true" />
								<f:selectItems value="#{invoiceView.types}" var="type"
									itemLabel="#{type.name}" />
							</p:selectOneMenu>
						</f:facet>
						<h:outputText value="#{msg['enum.' += invoice.invoiceType]}" />
					</p:column>
					<p:column headerText="#{msg['invoice.netamount']}"
						filterBy="#{invoice.netAmount}" filterMatchMode="contains">
						<h:outputText value="#{invoice.netAmount}" />
					</p:column>
					<p:column headerText="#{msg['invoice.grossamount']}"
						filterBy="#{invoice.grossAmount}" filterMatchMode="contains">
						<h:outputText value="#{invoice.grossAmount}" />
					</p:column>
					<p:column headerText="#{msg['actions']}">
						<p:commandButton id="button-details" icon="fa fa-info"
							actionListener="#{invoiceView.detailInvoice(invoice)}"
							oncomplete="PF('invoiceDialog').show();"
							update="accountedInvoices:invoiceDialog" immediate="true"></p:commandButton>
					</p:column>

				</p:dataTable>
			</div>
		</div>
		<ui:include src="/logged/invoice/invoiceDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>