<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.vacation.add']}</title>
</h:head>

<h:body>
	<h:form id="vacationAdd">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.vacation.add']}</p>
				<div class="field-group">
					<p:outputLabel for="startDate"
						value="#{msg['vacation.start.date']}" />
					<div class="column">
						<p:calendar id="startDate" pattern="dd-MM-yyyy" required="true"
							mindate="#{userView.maxDate}"
							maxdate="#{vacationView.maxEndDate}"
							requiredMessage="#{msg['msg.required']}" navigator="true"
							value="#{vacationView.vacation.startDate}" />
					</div>
					<p:message for="startDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="endDate" value="#{msg['vacation.end.date']}" />
					<div class="column">
						<p:calendar id="endDate" pattern="dd-MM-yyyy" required="true"
							mindate="#{vacationView.minEndDate}"
							maxdate="#{vacationView.maxEndDate}"
							requiredMessage="#{msg['msg.required']}" navigator="true"
							value="#{vacationView.vacation.endDate}" />
					</div>
					<p:message for="endDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="motivation"
						value="#{msg['vacation.motivation']}" />
					<div class="column">
						<p:inputTextarea id="motivation" maxlength="250"
							validatorMessage="#{msg.vacation.motivation.lenght}"
							value="#{vacationView.vacation.motivation}"
							requiredMessage="#{msg['msg.required']}" required="true"></p:inputTextarea>
					</div>
				</div>
			</div>
			<div class="field-group">
				<p:commandButton id="button-save" value="#{msg['button.save']}"
					action="#{vacationView.saveVacation}" update="vacationAdd"></p:commandButton>
				<p:commandButton id="button-cancel" value="#{msg['button.cancel']}"
					action="#{navigationBean.goToVacations}" immediate="true"></p:commandButton>
			</div>
		</div>
	</h:form>
</h:body>
</html>