<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<f:event type="preRenderView" listener="#{loginView.loadAvatar}" />

<div class="header">
	<p:growl autoUpdate="true" id="growl" for="growl" globalOnly="true" />
	<p:graphicImage library="images" name="logo.png" width="20%" />
	<p:menubar id="menu">
		<p:menuitem value="#{msg['homepage']}"
			action="#{navigationBean.goToHomepage}" immediate="true" />
		<p:submenu label="#{msg['users']}"
			rendered="#{loginView.hasPerm('USER_MANAGEMENT')}">
			<p:menuitem value="#{msg['user.all']}"
				action="#{navigationBean.goToUsers}" immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['user.add']}" action="#{userView.addUser}"
				immediate="true"></p:menuitem>
		</p:submenu>
		<p:submenu label="#{msg['groups']}"
			rendered="#{loginView.hasPerm('GROUP_MANAGEMENT')}">
			<p:menuitem value="#{msg['group.all']}"
				action="#{navigationBean.goToGroups}" immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['group.add']}"
				action="#{groupView.addGroup}" immediate="true"></p:menuitem>
		</p:submenu>
		<p:submenu label="#{msg['contractors']}"
			rendered="#{loginView.hasPerm('CONTRACTOR_MANAGEMENT')}">
			<p:menuitem value="#{msg['contractor.all']}"
				action="#{navigationBean.goToContractors}" immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['contractor.add']}"
				action="#{contractorView.addContractor}" immediate="true"></p:menuitem>
		</p:submenu>
		<p:submenu label="#{msg['vacations']}"
			rendered="#{loginView.hasPerm('VACATION')}">
			<p:menuitem value="#{msg['vacation.notify']}"
				action="#{vacationView.addVacation}" immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['vacation.history']}"
				action="#{navigationBean.goToVacations}" immediate="true"></p:menuitem>
		</p:submenu>
		<p:submenu label="#{msg['requisitions']}"
			rendered="#{loginView.hasPerm('REQUISITION')}">
			<p:menuitem value="#{msg['requisition.notify']}"
				action="#{requisitionView.addRequisition(loginView.loggedUser)}"
				immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['requisition.history']}"
				action="#{navigationBean.goToRequisitions}" immediate="true"></p:menuitem>
		</p:submenu>
		<p:submenu label="#{msg['tasks']}"
			rendered="#{loginView.hasPerm('TASKS')}">
			<p:menuitem value="#{msg['task.notifications']}"
				style="font-weight: bold;" action="#{navigationBean.goToTasks}"
				immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['task.my']}"
				action="#{navigationBean.goToMyTasks}" immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['task.historical']}"
				action="#{navigationBean.goToHistoricalTasks}" immediate="true"></p:menuitem>
		</p:submenu>
		<p:submenu label="#{msg['bills']}"
			rendered="#{loginView.hasPerm('BILLS')}">
			<p:menuitem value="#{msg['bill.add']}" style="font-weight: bold;"
				action="#{billView.addBill(loginView.loggedUser)}" immediate="true"
				rendered="#{loginView.hasPerm('BILL_ADD')}"></p:menuitem>
			<p:menuitem value="#{msg['bill.all']}" action="#{billView.allBills}"
				immediate="true" rendered="#{loginView.hasPerm('BILL_VIEW')}"></p:menuitem>
			<p:menuitem value="#{msg['bill.pending']}"
				action="#{navigationBean.goToProccessed}" immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['bill.booked']}"
				action="#{navigationBean.goToAccounted}" immediate="true"></p:menuitem>
		</p:submenu>
		<p:submenu label="#{msg['account.my']}">
			<p:menuitem value="#{msg['account.details']}"
				onclick="PF('accountDialog').show();"></p:menuitem>
			<p:menuitem value="#{msg['account.edit']}"
				action="#{loginView.editAccount}" immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['account.change.password']}"
				action="#{loginView.changePasswordView}" immediate="true"></p:menuitem>
		</p:submenu>
		<p:submenu id="messages"
			label="#{msg['messages']} (#{messageView.amountOfUnreadMessages})">
			<p:menuitem value="#{msg['messages.all']}"
				action="#{navigationBean.goToMessages}" immediate="true"></p:menuitem>
			<p:menuitem value="#{msg['messages.add']}"
				action="#{messageView.addMessage}" immediate="true"></p:menuitem>
		</p:submenu>
		<f:facet name="options">
			<p:graphicImage id="topAvatar" value="#{loginView.avatar}"
				cache="false" styleClass="avatar" />
				#{msg['header.user.logged']} #{loginView.loggedUser.firstName}
				#{loginView.loggedUser.lastName}
				<p:commandButton icon="fa fa-sign-out" action="#{loginView.logout}"
				immediate="true" ajax="false" />
		</f:facet>
	</p:menubar>
</div>
<ui:include src="/logged/account/accountDetailsDialog.xhtml" />
</html>