<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.message.add']}</title>
</h:head>

<h:body>
	<h:form id="messageAdd">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.message.add']}</p>
				<div class="left-side">
					<div class="field-group">
						<p:outputLabel for="reciepent" value="#{msg['message.reciepent']}" />
						<div class="column">
							<p:selectOneMenu id="reciepent" style="width: 60% !important"
								value="#{messageView.selectedReciepent}"
								converter="#{userConverter}" filter="true"
								rendered="#{!messageView.disabledReciepent}"
								filterMatchMode="startsWith" required="true"
								requiredMessage="#{msg['msg.required']}">
								<f:selectItems value="#{messageView.allUsers}" var="reciepent"
									itemLabel="#{reciepent.firstName} #{reciepent.lastName}"
									itemValue="#{reciepent}" />
							</p:selectOneMenu>
							<p:outputLabel
								value="#{messageView.message.reciepent.firstName} #{messageView.message.reciepent.lastName}"
								rendered="#{messageView.disabledReciepent}"></p:outputLabel>
						</div>
						<p:message for="reciepent" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="title" value="#{msg['message.title']}" />
						<div class="column">
							<p:inputText id="title" required="true"
								value="#{messageView.message.title}" style="width: 60%"
								requiredMessage="#{msg['msg.required']}" maxlength="100"
								validatorMessage="#{msg['message.title.lenght']}" />
						</div>
						<p:message for="title" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="content" value="#{msg['message.content']}" />
						<div class="column">
							<p:inputTextarea id="content" required="true"
								value="#{messageView.message.content}"
								style="width: 60%; height: 15%"
								requiredMessage="#{msg['msg.required']}" maxlength="500"
								validatorMessage="#{msg['message.content.lenght']}" />
						</div>
						<p:message for="content" display="text" />
					</div>
					<div class="field-group">
						<p:commandButton id="button-save" value="#{msg['button.send']}"
							action="#{messageView.saveMessage}" update="messageAdd"></p:commandButton>
						<p:commandButton id="button-cancel"
							value="#{msg['button.cancel']}"
							action="#{navigationBean.goToMessages}" immediate="true"></p:commandButton>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>