<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.messages']}</title>
</h:head>

<h:body>
	<h:form id="allMessages">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['messages']}</p>
				<p:tabView id="tab">
					<p:ajax event="tabChange" update="allMessages" />
					<p:tab title="#{msg['messages.received']}">
						<p:dataTable id="received" var="message"
							value="#{messageView.receivedMessages}" paginator="true"
							paginatorPosition="top" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
							rowsPerPageTemplate="5,10,15" emptyMessage="#{msg['data.empty']}"
							selectionMode="single" selection="#{messageView.message}"
							rowKey="#{message}"
							rowStyleClass="#{(message.read) ? 'message-read' : 'message-unread'}">
							<p:ajax event="rowSelect" listener="#{messageView.onRowSelect}"
								oncomplete="PF('messageReceivedDialog').show();"
								update="allMessages:messageReceivedDialog, allMessages:tab:received, allMessages:menu" />
							<p:ajax event="rowUnselect"
								listener="#{messageView.onRowUnselect}" />

							<p:column headerText="#{msg['message.send.date']}">
								<h:outputText value="#{message.sendDate}">
									<f:convertDateTime pattern="dd.MM.yyyy | HH:mm" />
								</h:outputText>

							</p:column>
							<p:column headerText="#{msg['message.sender']}">
								<h:outputText
									value="#{message.sender.firstName} #{message.sender.lastName}"
									rendered="#{message.sender != null}" />
								<h:outputText value="System"
									rendered="#{message.sender == null}" />
							</p:column>
							<p:column headerText="#{msg['message.title']}">
								<h:outputText value="#{message.title}" />
							</p:column>

							<p:column headerText="#{msg['actions']}">
								<p:commandButton id="button-answer"
									value="#{msg['button.answer']}"
									action="#{messageView.answerToMessage(message)}"></p:commandButton>
							</p:column>

						</p:dataTable>
					</p:tab>
					<p:tab title="#{msg['messages.sent']}">
						<p:dataTable var="message" value="#{messageView.sentMessages}"
							rowKey="#{message}" paginator="true" paginatorPosition="top"
							rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
							rowsPerPageTemplate="5,10,15" emptyMessage="#{msg['data.empty']}"
							selectionMode="single" selection="#{messageView.message}">
							<p:ajax event="rowSelect"
								listener="#{messageView.onRowSelectSent}"
								oncomplete="PF('messageSentDialog').show();"
								update="allMessages:messageSentDialog" />
							<p:ajax event="rowUnselect"
								listener="#{messageView.onRowUnselect}" />
							<p:column headerText="#{msg['message.send.date']}">
								<h:outputText value="#{message.sendDate}">
									<f:convertDateTime pattern="dd.MM.yyyy | HH:mm" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{msg['message.reciepent']}">
								<h:outputText
									value="#{message.reciepent.firstName} #{message.reciepent.lastName}" />
							</p:column>
							<p:column headerText="#{msg['message.title']}">
								<h:outputText value="#{message.title}" />
							</p:column>
						</p:dataTable>
					</p:tab>
				</p:tabView>
			</div>
		</div>
		<ui:include src="/logged/messages/messageSentDetailsDialog.xhtml" />
		<ui:include src="/logged/messages/messageReceivedDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>