<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<p:dialog id="messageReceivedDialog" widgetVar="messageReceivedDialog"
	header="#{messageView.message.title} " modal="true" resizable="false"
	closeOnEscape="true" width="50%" draggable="false" closable="true">
	<div class="wrapper">
		<div class="middle">
			<div class="dialog-message">
				<div class="field-group">
					<div class="dialog-label">
						<h:outputText value="#{messageView.message.sendDate}">
							<f:convertDateTime pattern="dd.MM.yyyy | HH:mm" />
						</h:outputText>
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="titleS" value="#{msg['message.sender']}" />
					</div>
					<div class="column">
						<c:if test="#{messageView.message.sender != null}">
							<p:outputLabel id="titleS"
								value="#{messageView.message.sender.firstName} #{messageView.message.sender.lastName}" />
						</c:if>
						<c:if test="#{messageView.message.sender == null}">
							<p:outputLabel id="titleS" value="System" />
						</c:if>
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="contentS" value="#{msg['message.content']}" />
					</div>
					<div class="column">
						<p:inputTextarea id="contentS"
							value="#{messageView.message.content}" readonly="true"
							styleClass="message-area" />
					</div>
				</div>
			</div>
		</div>
	</div>
</p:dialog>
</html>