<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<p:dialog id="messageSentDialog" widgetVar="messageSentDialog"
	header="#{messageView.message.title} " modal="true" resizable="false"
	closeOnEscape="true" width="50%" draggable="false" closable="true">
	<div class="wrapper">
		<div class="middle">
			<div class="dialog-message">
				<div class="field-group">
					<div class="dialog-label">
						<h:outputText value="#{messageView.message.sendDate}">
							<f:convertDateTime pattern="dd.MM.yyyy | HH:mm" />
						</h:outputText>
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="titleR" value="#{msg['message.reciepent']}" />
					</div>
					<div class="column">
						<p:outputLabel id="titleR"
							value="#{messageView.message.reciepent.firstName} #{messageView.message.reciepent.lastName}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="contentR" value="#{msg['message.content']}" />
					</div>
					<div class="column">
						<p:inputTextarea id="contentR" value="#{messageView.message.content}" readonly="true" styleClass="message-area"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</p:dialog>
</html>