<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.main']}</title>
</h:head>

<h:body>
	<h:form id="main">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<div align="center">
					<p:dashboard id="board" model="#{mainView.model}"
						rendered="#{loginView.hasPerm('DASHBOARD_VIEW')}">
						<p:ajax event="reorder" />
						<p:panel id="assignedTasks" header="Rozpoczęte zadania"
							rendered="#{loginView.hasPerm('TASKS')}">
							<p:dataTable var="task"
								value="#{taskView.tasksByAssignee}" paginator="true"
								paginatorPosition="top" rows="10"
								paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
								rowsPerPageTemplate="5,10,15"
								emptyMessage="#{msg['data.empty']}">

								<p:column headerText="#{msg['task.name']}">
									<h:outputText value="#{task.name}" />
								</p:column>
								<p:column headerText="#{msg['task.create.time']}">
									<h:outputText value="#{task.createTime}">
										<f:convertDateTime pattern="dd.MM.yyyy | HH:mm" />
									</h:outputText>
								</p:column>
								<f:facet name="footer">
									<div class="table-button-holder">
										<p:commandButton id="button-add" value="#{msg['button.go']}"
											action="#{navigationBean.goToMyTasks}" immediate="true"></p:commandButton>
									</div>
								</f:facet>
							</p:dataTable>
						</p:panel>

						<p:panel id="unasignedTasks" header="Moje zadania"
							rendered="#{loginView.hasPerm('TASKS')}">
							<p:dataTable var="task" value="#{taskView.allTasks}"
								paginator="true" paginatorPosition="top" rows="10"
								paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
								rowsPerPageTemplate="5,10,15"
								emptyMessage="#{msg['data.empty']}">

								<p:column headerText="#{msg['task.name']}">
									<h:outputText value="#{task.name}" />
								</p:column>
								<p:column headerText="#{msg['task.create.time']}">
									<h:outputText value="#{task.createTime}">
										<f:convertDateTime pattern="dd.MM.yyyy | HH:mm" />
									</h:outputText>
								</p:column>
								<f:facet name="footer">
									<div class="table-button-holder">
										<p:commandButton id="button-add" value="#{msg['button.go']}"
											action="#{navigationBean.goToTasks}" immediate="true"></p:commandButton>
									</div>
								</f:facet>
							</p:dataTable>
						</p:panel>

					</p:dashboard>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>