<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.bill.add']}</title>
</h:head>

<h:body>
	<h:form id="billAdd" enctype="multipart/form-data">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="field-group">
				<p:outputLabel for="billContractor"
					value="#{msg['bill.contractor']}" />
				<div class="column">
					<p:selectOneMenu id="billContractor"
						value="#{billView.selectedContractor}"
						converter="#{billConverter}" filter="true"
						filterMatchMode="startsWith">
						<p:ajax event="change" />
						<f:selectItem itemValue="#{null}" itemLabel="" />
						<f:selectItems value="#{billView.allContractors}"
							var="billContractor" itemLabel="#{billContractor.billName}"
							itemValue="#{billContractor}" />
					</p:selectOneMenu>
				</div>
				<p:message for="billContractor" display="text" />
			</div>

			<div class="field-group">
				<p:outputLabel for="password" value="#{msg['bill.cert.password']}" />
				<div class="column">
					<p:password id="password" value="#{billView.password}"
						required="true" requiredMessage="#{msg['msg.required']}" >
						<p:ajax event="blur" />
						</p:password>
				</div>
				<p:message for="password" display="text" />
			</div>

			<div class="field-group">
				<div class="middle">
					<p:fileUpload cancelLabel="#{msg['button.cancel']}"
						label="#{msg['button.choose']}"
						uploadLabel="#{msg['button.upload']}"
						fileUploadListener="#{billView.uploadBill}" mode="advanced"
						dragDropSupport="false" multiple="true" update="growl"
						allowTypes="/(\.|\/)(pdf)$/" invalidFileMessage="#{msg['badtype']}"/>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>