<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.bill.all']}</title>
</h:head>

<h:body>
	<h:form id="billAll" enctype="multipart/form-data">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="field-group">
				<div class="middle">
					<p:contextMenu for="bills" nodeType="bill">
						<p:menuitem value="#{msg['bill.show']}" update="billDoc"
							actionListener="#{billView.downloadBill}"
							oncomplete="PF('billDialog').show()" icon="fa fa-fw fa-search" />
						<p:menuitem value="#{msg['bill.showprocess']}" update="billAll:invoiceDialog"
							actionListener="#{billView.detailInvoice}"
							oncomplete="PF('invoiceDialog').show();"
							icon="fa fa-fw fa-search" />
						<p:menuitem value="#{msg['bill.download']}" ajax="false"
							actionListener="#{billView.downloadBill}"
							icon="fa fa-fw fa-download"
							rendered="#{loginView.hasPerm('BILL_DOWNLOAD')}">
							<p:fileDownload value="#{billView.downloadFile}" />
						</p:menuitem>
					</p:contextMenu>

					<p:treeTable id="bills" value="#{billView.root}" var="document"
						selectionMode="single" selection="#{billView.selectedNode}"
						emptyMessage="#{msg['bill.empty']}">
						<p:column headerText="#{msg['bill.name']}"
							sortBy="#{document.billName}">
							<h:outputText value="#{document.billName}" />
						</p:column>
						<p:column headerText="#{msg['bill.size']}"
							sortBy="#{document.size}" style="width:25px">
							<h:outputText value="#{document.size}" />
						</p:column>
						<p:column headerText="#{msg['bill.date']}"
							sortBy="#{document.createdOn}" style="width:70px">
							<h:outputText value="#{document.createdOn}">
								<f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss z" />
							</h:outputText>
						</p:column>
					</p:treeTable>

					<p:dialog id="dialog" header="#{msg['bill.show.dialog']}"
						showEffect="fade" widgetVar="billDialog" modal="true"
						resizable="false">
						<pe:documentViewer id="billDoc" height="800" width="550"
							value="#{billView.downloadFile}" />
					</p:dialog>
				</div>
			</div>
		</div>
		<ui:include src="/logged/bill/invoiceDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>