<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<p:dialog id="invoiceDialog" header="#{msg['page.invoice.details']}"
	widgetVar="invoiceDialog" modal="true" resizable="false"
	closeOnEscape="true" width="50%" draggable="false" closable="true">
	<div class="wrapper">
		<div class="middle">
			<c:if test="#{billView.invoice.invoiceNumber != ''}">
				<div class="add-left-side">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="contractor" value="#{msg['contractor']}" />
						</div>
						<div class="column">
							<p:outputLabel id="contractor"
								value="#{billView.contractor.name}" />
						</div>
					</div>
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="number" value="#{msg['invoice.number']}" />
						</div>
						<div class="column">
							<p:outputLabel id="number"
								value="#{billView.invoice.invoiceNumber}" />
						</div>
					</div>
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="type" value="#{msg['invoice.type']}" />
						</div>
						<div class="column">
							<p:outputLabel id="type"
								value="#{msg['enum.' += billView.invoice.invoiceType]}" />
						</div>
					</div>
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="paymentDate"
								value="#{msg['invoice.paymentdate']}" />
						</div>
						<div class="column">
							<p:outputLabel id="paymentDate"
								value="#{billView.invoice.paymentDate}">
								<f:convertDateTime pattern="dd.MM.yyyy" />
							</p:outputLabel>
						</div>
					</div>
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="issueDate"
								value="#{msg['invoice.issuedate']}" />
						</div>
						<div class="column">
							<p:outputLabel id="issueDate"
								value="#{billView.invoice.issueDate}">
								<f:convertDateTime pattern="dd.MM.yyyy" />
							</p:outputLabel>
						</div>
					</div>
				</div>
				<div class="add-right-side">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="netAmount"
								value="#{msg['invoice.netamount']}" />
						</div>
						<div class="column">
							<p:outputLabel id="netAmount"
								value="#{billView.invoice.netAmount}" />
						</div>
					</div>
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="grossAmount"
								value="#{msg['invoice.grossamount']}" />
						</div>
						<div class="column">
							<p:outputLabel id="grossAmount"
								value="#{billView.invoice.grossAmount}" />
						</div>
					</div>
					<c:if test="#{billView.invoice.lines != ''}">
						<div class="field-group">
							<div class="dialog-label">
								<p:outputLabel for="lines" value="#{msg['invoice.lines']}" />
							</div>
							<div class="column">
								<p:outputLabel id="lines" value="#{billView.invoice.lines}" />
							</div>
						</div>
					</c:if>
					<c:if test="#{invoiceView.invoice.accountingLines != ''}">
						<div class="field-group">
							<div class="dialog-label">
								<p:outputLabel for="accountingLines"
									value="#{msg['invoice.accountinglines']}" />
							</div>
							<div class="column">
								<p:outputLabel id="accountingLines"
									value="#{billView.invoice.accountingLines}" />
							</div>
						</div>
					</c:if>
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="status" value="#{msg['invoice.status']}" />
						</div>
						<div class="column">
							<h:outputText id="status" value="#{msg['enum.' += billView.invoice.status]}" />
						</div>
					</div>
				</div>
			</c:if>
		</div>
	</div>
</p:dialog>
</html>