<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.requisition.all']}</title>
</h:head>

<h:body>
	<h:form id="allRequisitions">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['requisitions']}</p>
				<p:dataTable var="requisition" value="#{requisitionView.myRequisitions}"
					paginator="true" paginatorPosition="top" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
					rowsPerPageTemplate="5,10,15" emptyMessage="#{msg['data.empty']}">

					<p:column headerText="#{msg['requisition.date']}">
						<h:outputText value="#{requisition.requisitionDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{msg['requisition.items']}">
						<h:outputText value="#{requisition.items}" />
					</p:column>
					<p:column headerText="#{msg['requisition.amount']}">
						<h:outputText value="#{requisition.amount}" />
					</p:column>
					<p:column headerText="#{msg['requisition.status']}">
						<h:outputText value="#{msg['enum.' += requisition.status]}" />
					</p:column>

					<f:facet name="footer">
						<div class="table-button-holder">
							<p:commandButton id="button-add" value="#{msg['button.add']}"
								action="#{requisitionView.addRequisition}"></p:commandButton>
						</div>
					</f:facet>
				</p:dataTable>
			</div>
		</div>
	</h:form>
</h:body>
</html>