<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<p:dialog id="accountDialog" header="#{msg['page.account.details']}"
	widgetVar="accountDialog" modal="true" resizable="false"
	closeOnEscape="true" width="50%" draggable="false" closable="true">
	<div class="wrapper">

		<div class="middle">
			<div class="dialog-left-side">
				<c:if test="#{loginView.dialogAvatar != null}">
					<p:graphicImage id="avatarDialog" value="#{loginView.dialogAvatar}"
						cache="false" styleClass="avatar" />
				</c:if>
				<c:if test="#{loginView.dialogAvatar == null}">
					<p:graphicImage library="images" name="no-avatar.png" />
				</c:if>
			</div>

			<div class="dialog-middle">
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="firstNameX" value="#{msg['user.first.name']}" />
					</div>
					<div class="column">
						<p:outputLabel id="firstNameX"
							value="#{loginView.loggedUser.firstName}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="lastNameX" value="#{msg['user.last.name']}" />
					</div>
					<div class="column">
						<p:outputLabel id="lastNameX"
							value="#{loginView.loggedUser.lastName}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="birthDateX" value="#{msg['user.birth.date']}" />
					</div>
					<div class="column">
						<p:outputLabel id="birthDateX"
							value="#{loginView.loggedUser.birthDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</p:outputLabel>
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="emailX" value="#{msg['user.email']}" />
					</div>
					<div class="column">
						<p:outputLabel id="emailX" value="#{loginView.loggedUser.email}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="phoneNumberX" value="#{msg['user.phone']}" />
					</div>
					<div class="column">
						<p:outputLabel id="phoneNumberX"
							value="#{loginView.loggedUser.phoneNumber}" />
					</div>
				</div>
			</div>
			<div class="dialog-right-side">
				<c:if test="#{loginView.loggedUser.group != null}">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="userGroupX" value="#{msg['user.group']}" />
						</div>
						<div class="column">
							<p:outputLabel id="userGroupX"
								value="#{loginView.loggedUser.group.groupName}" />
						</div>
					</div>
				</c:if>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="cityX" value="#{msg['address.city']}" />
					</div>
					<div class="column">
						<p:outputLabel id="cityX" required="true"
							value="#{loginView.loggedUser.address.city}" />
					</div>
				</div>
				<c:if test="#{loginView.loggedUser.address.street != ''}">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="streetX" value="#{msg['address.street']}" />
						</div>
						<div class="column">
							<p:outputLabel id="streetX"
								value="#{loginView.loggedUser.address.street}" />
						</div>
					</div>
				</c:if>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="zipCodeX" value="#{msg['address.zipcode']}" />
					</div>
					<div class="column">
						<p:outputLabel id="zipCodeX"
							value="#{loginView.loggedUser.address.zipCode}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="houseNoX" value="#{msg['address.houseNo']}" />
					</div>
					<div class="column">
						<p:outputLabel id="houseNoX"
							value="#{loginView.loggedUser.address.houseNumber}" />
					</div>
				</div>
				<c:if test="#{loginView.loggedUser.address.flatNumber != ''}">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="flatNoX" value="#{msg['address.flatNo']}" />
						</div>
						<div class="column">
							<p:outputLabel id="flatNoX"
								value="#{loginView.loggedUser.address.flatNumber}" />
						</div>
					</div>
				</c:if>
			</div>
		</div>
	</div>
</p:dialog>
</html>