<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.account.change.password']}</title>
</h:head>

<h:body>
	<h:form id="changePasswordForm">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<div class="add-left-side">
					<div class="field-group">
						<p:outputLabel for="oldPassword"
							value="#{msg['account.old.password']}" />
						<div class="column">
							<p:password id="oldPassword" value="#{loginView.oldPassword}"
								required="true" requiredMessage="#{msg['msg.required']}"></p:password>
						</div>
						<p:message for="oldPassword" display="text" />
					</div>
				</div>
				<div class="add-right-side">
					<div class="field-group">
						<p:outputLabel for="newPassword"
							value="#{msg['account.password.new']}" />
						<div class="column">
							<p:password id="newPassword" value="#{loginView.newPassword}"
								match="newPasswordConfirm" required="true"
								requiredMessage="#{msg['msg.required']}"
								validatorMessage="#{msg['msg.password']}">
								<f:validateRegex
									pattern="^(?-i)(?=^.{8,}$)((?!.*\s)(?=.*[A-Z])(?=.*[a-z]))((?=(.*\d){1,})|(?=(.*\W){1,}))^.*$"></f:validateRegex>
							</p:password>
						</div>
						<p:message for="newPassword" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="newPasswordConfirm"
							value="#{msg['account.password.new.confirm']}" />
						<div class="column">
							<p:password id="newPasswordConfirm" required="true"
								requiredMessage="#{msg['msg.required']}"></p:password>
						</div>
						<p:message for="newPasswordConfirm" display="text" />
					</div>
					<div class="field-group">
						<p:commandButton id="button-save" value="#{msg['button.save']}"
							action="#{loginView.changePassword}"
							update="changePasswordForm"></p:commandButton>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>