<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.account.edit']}</title>
</h:head>

<h:body>
	<h:form id="accountEdit" enctype="multipart/form-data">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.account.edit']}</p>
				<p:messages />
				<div class="add-left-side">
					<div class="field-group">
						<p:outputLabel for="firstName" value="#{msg['user.first.name']}" />
						<div class="column">
							<p:inputText id="firstName" required="true"
								requiredMessage="#{msg['msg.required']}"
								value="#{loginView.editUser.firstName}" />
						</div>
						<p:message for="firstName" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="lastName" value="#{msg['user.last.name']}" />
						<div class="column">
							<p:inputText id="lastName" required="true"
								requiredMessage="#{msg['msg.required']}"
								value="#{loginView.editUser.lastName}" />
						</div>
						<p:message for="lastName" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="birthDate" value="#{msg['user.birth.date']}" />
						<div class="column">
							<p:calendar id="birthDate" pattern="dd-MM-yyyy" required="true"
								requiredMessage="#{msg['msg.required']}"
								mindate="#{userView.minDate}" maxdate="#{userView.maxDate}"
								navigator="true" value="#{loginView.editUser.birthDate}" />
						</div>
						<p:message for="birthDate" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="email" value="#{msg['user.email']}" />
						<div class="column">
							<p:inputText id="email" required="true"
								requiredMessage="#{msg['msg.required']}"
								validatorMessage="#{msg['msg.email'] }"
								value="#{loginView.editUser.email}">
								<f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
							</p:inputText>
						</div>
						<p:message for="email" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="phoneNumber" value="#{msg['user.phone']}" />
						<div class="column">
							<p:inputMask id="phoneNumber" mask="999-999-999" required="true"
								requiredMessage="#{msg['msg.required']}"
								value="#{loginView.editUser.phoneNumber}" />
						</div>
						<p:message for="phoneNumber" display="text" />
					</div>

					<div class="field-group">
						<p:outputLabel for="cert" value="#{msg['user.cert']}" />
						<div class="column">
							<center>
								<p:fileUpload id="cert" cancelLabel="#{msg['button.cancel']}"
									label="#{msg['button.choose']}"
									uploadLabel="#{msg['button.upload']}"
									fileUploadListener="#{loginView.certUpload}" mode="advanced"
									dragDropSupport="false" multiple="false" update="growl"
									allowTypes="/(\.|\/)(p12)$/" style="width: 75%;"
									invalidFileMessage="#{msg['badtype']}" />
							</center>
						</div>
						<p:message for="cert" display="text" />
					</div>
				</div>
				<div class="add-right-side">
					<div class="field-group">
						<p:outputLabel for="city" value="#{msg['address.city']}" />
						<div class="column">
							<p:inputText id="city" required="true"
								requiredMessage="#{msg['msg.required']}"
								value="#{loginView.editUser.address.city}" />
						</div>
						<p:message for="city" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="street" value="#{msg['address.street']}" />
						<div class="column">
							<p:inputText id="street"
								value="#{loginView.editUser.address.street}" />
						</div>
						<p:message for="street" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="zipCode" value="#{msg['address.zipcode']}" />
						<div class="column">
							<p:inputMask id="zipCode" required="true" mask="99-999"
								requiredMessage="#{msg['msg.required']}"
								value="#{loginView.editUser.address.zipCode}" />
						</div>
						<p:message for="zipCode" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="houseNo" value="#{msg['address.houseNo']}" />
						<div class="column">
							<p:inputText id="houseNo" required="true"
								requiredMessage="#{msg['msg.required']}"
								value="#{loginView.editUser.address.houseNumber}" />
						</div>
						<p:message for="houseNo" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="flatNo" value="#{msg['address.flatNo']}" />
						<div class="column">
							<p:inputText id="flatNo"
								value="#{loginView.editUser.address.flatNumber}" />
						</div>
						<p:message for="flatNo" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="avatar" value="#{msg['user.avatar']}" />
						<div class="column">
							<center>
								<p:fileUpload id="avatar" cancelLabel="#{msg['button.cancel']}"
									label="#{msg['button.choose']}"
									uploadLabel="#{msg['button.upload']}"
									fileUploadListener="#{loginView.upload}" mode="advanced"
									dragDropSupport="false" multiple="false" update="growl"
									allowTypes="/(\.|\/)(jpe?g)$/" style="width: 75%;"
									invalidFileMessage="#{msg['badtype']}" />
							</center>
						</div>
						<p:message for="avatar" display="text" />
					</div>
					<div class="field-group">
						<p:commandButton id="button-save" value="#{msg['button.save']}"
							action="#{loginView.updateUser}" update="accountEdit"></p:commandButton>
						<p:commandButton id="button-cancel"
							value="#{msg['button.cancel']}" action="#{userView.cancel}"
							immediate="true"></p:commandButton>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>