body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	background-image: url("#{resource['images/background-login.jpg']}");
}

p {
	padding: 10px;
}

.logo-div {
	max-width: 100%;
	max-height: 100%;
}

#loginwrapper {
	width: 20%;
	height: 20%;
	opacity: 0.85;
	position: fixed;
	left: 40%;
	top: 30%;
}

#logincontent {
	padding: 5%;
	color: #FFF;
	background-color: #0059b3;
}

.textfields-login-holder {
	width: 100%;
	text-align: center;
	position: relative;
	display: block;
}

.textfields-login-holder .ui-inputfield {
	margin-top: 5% !important;
	height: 25px !important;
	width: 95% !important;
}

.button-login-holder .ui-button {
	margin-top: 5% !important;
	width: 95% !important;
	height: 35px !important;
}

.button-login-holder {
	width: 100%;
	text-align: center;
	position: relative;
	display: block;
}

