body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFF;
	background: #86bae0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.header {
	height: 10%;
	background: #86bae0;
	padding-bottom: 1%;
}

.middle {
	width: 100%;
	position: relative;
	background: #86bae0;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}

.content {
	padding: 1%;
}

.avatar{
	border-radius: 50%;
}

.message-unread{
	font-weight: bold;
}

.message-read{
	font-weight: normal;
}

.message-area{
	width: 100%;
	background-color: transparent !important;
	color: #FFF !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0% !important;
	margin: 0% !important;
}

.table-button-holder {
	text-align: right;
}

.ui-datatable table {
	border-collapse: collapse;
	width: 100%;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	text-align: left;
}

.ui-datatable .ui-datatable-header {
	width: 15%;
	border-bottom: 0px none;
	background: #86bae0;
	border: none;
}

.ui-datatable-header .ui-widget-header {
	text-align: left;
}

.ui-datatable .ui-datatable-footer {
	border-top: 0px none;
}

.ui-datatable thead th, .ui-datatable tfoot td {
	text-align: center;
	height: 35px !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
}

.ui-datatable tbody tr {
	height: 35px !important;
	text-align: center;
}

.ui-datatable .ui-sortable-column {
	cursor: pointer;
}

.ui-datatable div.ui-dt-c {
	position: relative;
}

.ui-datatable .ui-sortable-column-icon {
	display: inline-block;
	margin: -3px 0px -3px 2px;
}

.ui-datatable .ui-paginator {
	text-align: left;
}

.left-side {
	float: left;
	width: 50%;
}

.add-left-side {
	text-align: center;
	float: left;
	width: 50%;
}

.add-right-side {
	text-align: center;
	width: 50%;
	float: right;
}

.dialog-left-side{
	text-align: center;
	float:left;
    width: 20%;
}

.dialog-right-side{
	float: right;
	width: 40%;
}

.dialog-middle{
	display: inline-block;
	margin:0 auto;
	width: 40%;
}

.dialog-message{
	display: inline-block;
	margin:0 auto;
	width: 100%;
}

.dialog-label{
	background-color: #2B6EBA !important;
	width: 100% !important;
}

.add-center {
	text-align: center;
	width: 50%;
	float: left;
	margin-left: 50%;
}

.field-group {
	display: block;
	padding: 1%;
}

.column {
	display: block;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal
	{
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	background-color: transparent !important;
}

.ui-messages-error, .ui-message-error {
	color: #D8000C;
	font-weight: bold;
	background-color: transparent !important;
}

input {
	width: 275px;
	height: 30px;
}

a{
	color: white;
}

a:hover {
    font-weight: bold;
}

.ui-selectcheckboxmenu {
	width: 280px !important;
	height: 35px !important;
}

.ui-selectonemenu {
	width: 280px !important;
	height: 35px !important;
}

.ui-dialog-content{
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	color: #FFF !important;
	background: #86bae0 !important;
}

.ui-dashboard-column{
	width: 50% !important;
}
