<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.groups']}</title>
</h:head>

<h:body>
	<h:form id="allGroups">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['groups']}</p>
				<p:dataTable var="group" value="#{groupView.allGroups}"
					paginator="true" paginatorPosition="top" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
					rowsPerPageTemplate="5,10,15" emptyMessage="#{msg['data.empty']}">

					<p:column headerText="#{msg['group.name']}"
						filterBy="#{group.groupName}" filterMatchMode="contains">
						<h:outputText value="#{group.groupName}" />
					</p:column>

					<p:column headerText="#{msg['actions']}">
						<p:commandButton id="button-details" icon="fa fa-info"
							action="#{groupView.detailGroup(group)}"
							oncomplete="PF('groupDialog').show();"
							update="allGroups:groupDialog"></p:commandButton>
						<p:commandButton id="button-edit" icon="fa fa-edit"
							action="#{groupView.editGroup(group)}"></p:commandButton>
						<p:commandButton id="button-delete" icon="fa fa-remove"
							action="#{groupView.deleteGroup(group)}" update="allGroups">
							<p:confirm header="#{msg['msg.confirmation']}"
								message="#{msg['msg.confirm.remove']}" icon="ui-icon-alert" />
						</p:commandButton>
					</p:column>

					<f:facet name="footer">
						<div class="table-button-holder">
							<p:commandButton id="button-add" value="#{msg['button.add']}"
								action="#{groupView.addGroup}"></p:commandButton>
						</div>
					</f:facet>
				</p:dataTable>
			</div>
		</div>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="#{msg['msg.yes']}" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
				action="#{groupView.deleteGroup(group)}" update="allGroups" />

			<p:commandButton value="#{msg['msg.no']}" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
		<ui:include src="/logged/group/groupDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>