<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.group.add']}</title>
</h:head>

<h:body>
	<h:form id="groupEdit">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.group.add']}</p>
				<div class="field-group">
					<p:outputLabel for="groupName" value="#{msg['group.name']}" />
					<div class="column">
						<p:inputText id="groupName" required="true"
							value="#{groupView.editGroup.groupName}"
							requiredMessage="#{msg['msg.required']}" />
					</div>
					<p:message for="groupName" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="permissions"
						value="#{msg['group.permissions']}" />
					<div class="column">
						<p:selectCheckboxMenu id="permissions"
							value="#{groupView.selectedPermissions}" filter="true"
							filterMatchMode="startsWith" label=""
							converter="#{permissionConverter}" >
							<f:selectItems value="#{groupView.allPermissions}" var="perm"
								itemLabel="#{perm.permissionName.name}" itemValue="#{perm}" />
						</p:selectCheckboxMenu>
					</div>
					<p:message for="permissions" display="text" />
				</div>
				<div class="field-group">
					<p:commandButton id="button-save" value="#{msg['button.save']}"
						action="#{groupView.updateGroup}" update="groupEdit"></p:commandButton>
					<p:commandButton id="button-cancel" value="#{msg['button.cancel']}"
						action="#{navigationBean.goToGroups}" immediate="true"></p:commandButton>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>