<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<p:dialog id="groupDialog" header="#{msg['page.group.details']}"
	widgetVar="groupDialog" modal="true" resizable="false"
	closeOnEscape="true" width="50%" draggable="false" closable="true">
	<div class="wrapper">
		<div class="middle">
			<div class="add-left-side">
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="groupName" value="#{msg['group.name']}" />
					</div>
					<div class="column">
						<p:outputLabel id="groupName" value="#{groupView.group.groupName}" />
					</div>
				</div>

			</div>
			<div class="add-right-side">
				<div class="field-group">
					<p:dataList value="#{groupView.group.permissions}" var="perm"
						emptyMessage="#{msg['data.empty']}" paginator="true"
						paginatorPosition="top" rows="5"
						paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}">
						<f:facet name="header">#{msg['permission.group.all']}</f:facet>
        				#{perm.permissionName.name}
    				</p:dataList>
				</div>
			</div>
		</div>
	</div>
</p:dialog>
</html>