<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.users']}</title>
</h:head>

<h:body>
	<h:form id="allUsers">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['users']}</p>
				<p:dataTable var="user" value="#{userView.allUsers}"
					paginator="true" paginatorPosition="top" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
					rowsPerPageTemplate="5,10,15" emptyMessage="#{msg['data.empty']}">

					<p:column headerText="#{msg['user.first.name']}"
						filterBy="#{user.firstName}" filterMatchMode="contains">
						<h:outputText value="#{user.firstName}" />
					</p:column>

					<p:column headerText="#{msg['user.last.name']}"
						filterBy="#{user.lastName}" filterMatchMode="contains">
						<h:outputText value="#{user.lastName}" />
					</p:column>

					<p:column headerText="#{msg['user.email']}"
						filterBy="#{user.email}" filterMatchMode="contains">
						<h:outputText value="#{user.email}" />
					</p:column>

					<p:column headerText="#{msg['user.birth.date']}"
						filterBy="#{user.birthDate}" filterMatchMode="contains">
						<h:outputText value="#{user.birthDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{msg['group']}"
						filterBy="#{user.group.groupName}" filterMatchMode="contains">
						<h:outputText value="#{user.group.groupName}" />
					</p:column>
					<p:column headerText="#{msg['actions']}">
						<p:commandButton id="button-details" icon="fa fa-info"
							actionListener="#{userView.detailUser(user)}"
							oncomplete="PF('userDialog').show();"
							update="allUsers:userDialog"></p:commandButton>
						<p:commandButton id="button-edit" icon="fa fa-edit"
							action="#{userView.editUser(user)}"></p:commandButton>
						<p:commandButton id="button-delete" icon="fa fa-remove"
							action="#{userView.deleteUser(user)}">
						</p:commandButton>
					</p:column>

					<f:facet name="footer">
						<div class="table-button-holder">
							<p:commandButton id="button-add" value="#{msg['button.add']}"
								action="#{userView.addUser}"></p:commandButton>
						</div>
					</f:facet>
				</p:dataTable>
			</div>
		</div>
		<ui:include src="/logged/user/userDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>