<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.user.termination']}</title>
</h:head>

<h:body>
	<h:form id="terminateUser">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.user.termination']}</p>
				<div class="field-group">
					<p:outputLabel for="user" value="#{msg['vacation.user']}" />
					<div class="column">
						<p:outputLabel id="user"
							value="#{userView.user.firstName} #{userView.user.lastName}">
						</p:outputLabel>
					</div>
					<p:message for="user" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="terminationType"
						value="#{msg['user.termination.type']}" />
					<div class="column">
						<p:selectOneRadio id="terminationType"
							value="#{userView.type}" layout="grid" columns="2">
							<f:selectItems value="#{userView.terminationTypes}"
								var="termination" itemLabel="#{termination.name}"
								itemValue="#{termination}" />
						</p:selectOneRadio>
					</div>
					<p:message for="terminationType" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="motivation"
						value="#{msg['vacation.motivation']}" />
					<div class="column">
						<p:inputTextarea id="motivation" maxlength="250"
							value="#{userView.motivation}"
							requiredMessage="#{msg['msg.required']}" required="true"></p:inputTextarea>
					</div>
				</div>
			</div>
			<div class="field-group">
				<p:commandButton id="button-save" value="#{msg['button.terminate']}"
					action="#{userView.terminateUser}" update="terminateUser"></p:commandButton>
				<p:commandButton id="button-cancel" value="#{msg['button.cancel']}"
					action="#{navigationBean.goToUsers}" immediate="true"></p:commandButton>
			</div>
		</div>
	</h:form>
</h:body>
</html>