<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<p:dialog id="userDialog" header="#{msg['page.user.details']}"
	widgetVar="userDialog" modal="true" resizable="false"
	closeOnEscape="true" width="50%" draggable="false" closable="true">
	<div class="wrapper">
		<div class="middle">
			<div class="dialog-left-side">
				<c:if test="#{userView.avatar != null}">
					<p:graphicImage id="avatar" value="#{userView.avatar}"
						cache="false" styleClass="avatar" />
				</c:if>
				<c:if test="#{userView.avatar == null}">
					<p:graphicImage library="images" name="no-avatar.png" />
				</c:if>
			</div>
			<div class="dialog-middle">
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="firstNameY" value="#{msg['user.first.name']}" />
					</div>
					<div class="column">
						<p:outputLabel id="firstNameY" value="#{userView.user.firstName}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="lastNameY" value="#{msg['user.last.name']}" />
					</div>
					<div class="column">
						<p:outputLabel id="lastNameY" value="#{userView.user.lastName}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="birthDateY" value="#{msg['user.birth.date']}" />
					</div>
					<div class="column">
						<p:outputLabel id="birthDateY" value="#{userView.user.birthDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</p:outputLabel>
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="emailY" value="#{msg['user.email']}" />
					</div>
					<div class="column">
						<p:outputLabel id="emailY" value="#{userView.user.email}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="phoneNumberY" value="#{msg['user.phone']}" />
					</div>
					<div class="column">
						<p:outputLabel id="phoneNumberY"
							value="#{userView.user.phoneNumber}" />
					</div>
				</div>
			</div>
			<div class="dialog-right-side">
				<c:if test="#{userView.user.group != null}">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="userGroupY" value="#{msg['user.group']}" />
						</div>
						<div class="column">
							<p:outputLabel id="userGroupY"
								value="#{userView.user.group.groupName}" />
						</div>
					</div>
				</c:if>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="cityY" value="#{msg['address.city']}" />
					</div>
					<div class="column">
						<p:outputLabel id="cityY" required="true"
							value="#{userView.user.address.city}" />
					</div>
				</div>
				<c:if test="#{userView.user.address.street != ''}">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="streetY" value="#{msg['address.street']}" />
						</div>
						<div class="column">
							<p:outputLabel id="streetY"
								value="#{userView.user.address.street}" />
						</div>
					</div>
				</c:if>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="zipCodeY" value="#{msg['address.zipcode']}" />
					</div>
					<div class="column">
						<p:outputLabel id="zipCodeY"
							value="#{userView.user.address.zipCode}" />
					</div>
				</div>

				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="houseNoY" value="#{msg['address.houseNo']}" />
					</div>
					<div class="column">
						<p:outputLabel id="houseNoY"
							value="#{userView.user.address.houseNumber}" />
					</div>
				</div>
				<c:if test="#{userView.user.address.flatNumber != ''}">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="flatNoY" value="#{msg['address.flatNo']}" />
						</div>
						<div class="column">
							<p:outputLabel id="flatNoY"
								value="#{userView.user.address.flatNumber}" />
						</div>
					</div>
				</c:if>
			</div>
		</div>
	</div>
</p:dialog>
</html>