<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.invoice.kw']}</title>
</h:head>

<h:body>
	<h:form id="invoiceKW">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['invoice.kw']}</p>
				<div class="field-group">
					<p:outputLabel for="billFile" value="#{msg['invoice.bill']}" />
					<div class="column">
						<p:commandLink id="billFile" oncomplete="PF('billDialog').show();"
							actionListener="#{taskView.prepareBillFile}" immediate="true"
							update="invoiceKW:billDialog" value=" #{msg['bill.show.dialog']}">
						</p:commandLink>
					</div>
					<p:message for="billFile" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="contractor" value="#{msg['contractor']}" />
					<div class="column">
						<p:commandLink id="contractor"
							actionListener="#{contractorView.detailContractor(taskView.contractor)}"
							oncomplete="PF('contractorDialog').show();"
							update="invoiceKW:contractorDialog"
							value="[#{taskView.contractor.nip}] #{taskView.contractor.name}"
							immediate="true">
						</p:commandLink>
					</div>
					<p:message for="contractor" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="invoiceType" value="#{msg['invoice.type']}" />
					<div class="column">
						<p:outputLabel id="invoiceType"
							value="#{taskView.invoice.invoiceType.name}" />
						<p:message for="invoiceType" display="text" />
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="invoiceNumber" value="#{msg['invoice.number']}" />
					<div class="column">
						<p:outputLabel id="invoiceNumber"
							value="#{taskView.invoice.invoiceNumber}" />
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="issueDate" value="#{msg['invoice.issuedate']}" />
					<div class="column">
						<p:outputLabel id="issueDate"
							value="#{taskView.invoice.issueDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</p:outputLabel>
					</div>
					<p:message for="issueDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="paymentDate"
						value="#{msg['invoice.paymentdate']}" />
					<div class="column">
						<p:outputLabel id="paymentDate"
							value="#{taskView.invoice.paymentDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</p:outputLabel>
					</div>
					<p:message for="paymentDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="netAmount" value="#{msg['invoice.netamount']}" />
					<div class="column">
						<p:inputTextarea id="netAmount" readonly="true"
							value="#{taskView.invoice.netAmount}"></p:inputTextarea>
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="grossAmount"
						value="#{msg['invoice.grossamount']}" />
					<div class="column">
						<p:inputTextarea id="grossAmount" readonly="true"
							value="#{taskView.invoice.grossAmount}"></p:inputTextarea>
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="lines" value="#{msg['invoice.lines']}" />
					<div class="column">
						<p:inputTextarea id="lines" readonly="true"
							value="#{taskView.invoice.lines}" style="width: 45%;"></p:inputTextarea>
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="comment" value="#{msg['requisition.comment']}" />
					<div class="column">
						<p:inputTextarea id="comment" value="#{taskView.invoice.comment}"
							style="width: 35%;"></p:inputTextarea>
					</div>
				</div>
			</div>
			<div class="field-group">
				<p:commandButton id="button-accept" value="#{msg['button.accept']}"
					action="#{taskView.kWAcceptInvoice}" update="invoiceKW"></p:commandButton>
				<p:commandButton id="button-reject" value="#{msg['button.reject']}"
					action="#{taskView.kWRejectInvoice}" update="invoiceKW"></p:commandButton>
				<p:commandButton id="button-addescribe"
					value="#{msg['button.addescribe']}"
					action="#{taskView.kWADDescribeInvoice}" update="invoiceKW"></p:commandButton>
			</div>
		</div>
		<p:dialog id="billDialog" header="#{msg['bill.show.dialog']}"
			showEffect="fade" widgetVar="billDialog" modal="true"
			resizable="false">
			<pe:documentViewer id="billDoc" height="700" width="550"
				value="#{taskView.file}" />
		</p:dialog>
		<ui:include src="/logged/contractor/contractorDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>