<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.invoice.register']}</title>
</h:head>

<h:body>
	<h:form id="invoiceRegister">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['invoice.register']}</p>
				<div class="field-group">
					<p:outputLabel for="billFile" value="#{msg['invoice.bill']}" />
					<div class="column">
						<p:commandLink id="billFile" oncomplete="PF('billDialog').show();"
							actionListener="#{taskView.prepareBillFile}" immediate="true"
							update="invoiceRegister:billDialog"
							value=" #{msg['bill.show.dialog']}">
						</p:commandLink>
					</div>
					<p:message for="billFile" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="contractor" value="#{msg['contractor']}" />
					<div class="column">
						<p:commandLink id="contractor"
							actionListener="#{contractorView.detailContractor(taskView.contractor)}"
							oncomplete="PF('contractorDialog').show();"
							update="invoiceRegister:contractorDialog"
							value="[#{taskView.contractor.nip}] #{taskView.contractor.name}"
							immediate="true">
						</p:commandLink>
					</div>
					<p:message for="contractor" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="invoiceType" value="#{msg['invoice.type']}" />
					<div class="column">
						<p:selectOneRadio id="invoiceType"
							value="#{taskView.invoice.invoiceType}" layout="grid" columns="2"
							requiredMessage="#{msg['msg.required']}" required="true">
							<f:selectItems value="#{taskView.invoiceTypes}" var="type"
								itemLabel="#{type.name}" itemValue="#{type}" />
						</p:selectOneRadio>
					</div>
					<p:message for="invoiceType" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="invoiceNumber" value="#{msg['invoice.number']}" />
					<div class="column">
						<p:inputTextarea id="invoiceNumber" maxlength="50"
							validatorMessage="#{msg.vacation.motivation.lenght}"
							value="#{taskView.invoice.invoiceNumber}" required="true"
							requiredMessage="#{msg['msg.required']}"></p:inputTextarea>
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="issueDate" value="#{msg['invoice.issuedate']}" />
					<div class="column">
						<p:calendar id="issueDate" pattern="dd-MM-yyyy" required="true"
							requiredMessage="#{msg['msg.required']}" navigator="true"
							value="#{taskView.invoice.issueDate}" />
					</div>
					<p:message for="issueDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="paymentDate"
						value="#{msg['invoice.paymentdate']}" />
					<div class="column">
						<p:calendar id="paymentDate" pattern="dd-MM-yyyy" required="true"
							requiredMessage="#{msg['msg.required']}" navigator="true"
							value="#{taskView.invoice.paymentDate}" />
					</div>
					<p:message for="paymentDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="netAmount" value="#{msg['invoice.netamount']}" />
					<div class="column">
						<p:inputTextarea id="netAmount" maxlength="50"
							validatorMessage="#{msg.vacation.motivation.lenght}"
							value="#{taskView.invoice.netAmount}" required="true"
							requiredMessage="#{msg['msg.required']}"></p:inputTextarea>
					</div>
					<p:message for="netAmount" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="grossAmount"
						value="#{msg['invoice.grossamount']}" />
					<div class="column">
						<p:inputTextarea id="grossAmount" maxlength="50"
							validatorMessage="#{msg.vacation.motivation.lenght}"
							value="#{taskView.invoice.grossAmount}" required="true"
							requiredMessage="#{msg['msg.required']}"></p:inputTextarea>
					</div>
					<p:message for="grossAmount" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="comment" value="#{msg['requisition.comment']}"
						rendered="#{taskView.invoice.comment != null}" />
					<div class="column">
						<p:inputTextarea id="comment"
							value="#{taskView.invoice.comment}" readonly="true"
							rendered="#{taskView.invoice.comment != null}"
							style="width: 35%;"></p:inputTextarea>
					</div>
				</div>
			</div>
			<div class="field-group">
				<p:commandButton id="button-send" value="#{msg['button.send']}"
					action="#{taskView.registerInvoice}" update="invoiceRegister"></p:commandButton>
				<p:commandButton id="button-delete" value="#{msg['button.delete']}"
					action="#{taskView.deleteInvoice}" update="invoiceRegister"
					immediate="true"></p:commandButton>
			</div>
		</div>
		<p:dialog id="billDialog" header="#{msg['bill.show.dialog']}"
			showEffect="fade" widgetVar="billDialog" modal="true"
			resizable="false">
			<pe:documentViewer id="billDoc" height="700" width="550"
				value="#{taskView.file}" />
		</p:dialog>
		<ui:include src="/logged/contractor/contractorDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>