<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.requisition.realization']}</title>
</h:head>

<h:body>
	<h:form id="requisitionDescribe">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.requisition.realization']}</p>
				<div class="field-group">
					<p:outputLabel for="user" value="#{msg['requisition.user']}" />
					<div class="column">
						<p:commandLink id="user"
							actionListener="#{userView.detailUser(taskView.requisition.user)}"
							oncomplete="PF('userDialog').show();"
							update="requisitionDescribe:userDialog"
							value="#{taskView.requisition.user.firstName} #{taskView.requisition.user.lastName}"
							immediate="true">
						</p:commandLink>
					</div>
					<p:message for="user" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="requisitionDate"
						value="#{msg['requisition.date']}" />
					<div class="column">
						<p:outputLabel id="requisitionDate"
							value="#{taskView.requisition.requisitionDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</p:outputLabel>
					</div>
					<p:message for="requisitionDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="items" value="#{msg['requisition.items']}" />
					<div class="column">
						<p:outputLabel id="items" value="#{taskView.requisition.items}"></p:outputLabel>
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="amount" value="#{msg['requisition.amount']}" />
					<div class="column">
						<p:outputLabel id="amount" value="#{taskView.requisition.amount}"></p:outputLabel>
					</div>
				</div>
			</div>
			<div class="field-group">
				<p:commandButton id="button-accept" value="#{msg['button.done']}"
					action="#{taskView.realizeRequisitionRequest}"></p:commandButton>
			</div>
		</div>
		<ui:include src="/logged/user/userDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>