<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.requisition.describe']}</title>
</h:head>

<h:body>
	<h:form id="requisitionDescribe">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.requisition.describe']}</p>
				<div class="field-group">
					<p:outputLabel for="user" value="#{msg['requisition.user']}" />
					<div class="column">
						<p:outputLabel id="user"
							value="#{taskView.requisition.user.firstName} #{taskView.requisition.user.lastName}" />
					</div>
					<p:message for="user" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="requisitionDate"
						value="#{msg['requisition.date']}" />
					<div class="column">
						<p:calendar id="requisitionDate" pattern="dd-MM-yyyy"
							required="true" mindate="#{userView.maxDate}"
							requiredMessage="#{msg['msg.required']}" navigator="true"
							value="#{taskView.requisition.requisitionDate}" />
					</div>
					<p:message for="requisitionDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="items" value="#{msg['requisition.items']}" />
					<div class="column">
						<p:inputTextarea id="items" maxlength="450"
							validatorMessage="#{msg.vacation.motivation.lenght}"
							value="#{taskView.requisition.items}" style="width: 35%;"
							required="true" requiredMessage="#{msg['msg.required']}"></p:inputTextarea>
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="amount" value="#{msg['requisition.amount']}" />
					<div class="column">
						<p:inputTextarea id="amount" maxlength="50"
							validatorMessage="#{msg.vacation.motivation.lenght}"
							value="#{taskView.requisition.amount}" required="true"
							requiredMessage="#{msg['msg.required']}"></p:inputTextarea>
					</div>
				</div>
				<div class="field-group">
					<p:outputLabel for="comment" value="#{msg['requisition.comment']}"
						rendered="#{taskView.requisition.comment != null}" />
					<div class="column">
						<p:inputTextarea id="comment"
							value="#{taskView.requisition.comment}" readonly="true"
							rendered="#{taskView.requisition.comment != null}"
							style="width: 35%;"></p:inputTextarea>
					</div>
				</div>
			</div>
		</div>
		<div class="field-group">
			<p:commandButton id="button-accept" value="#{msg['button.send']}"
				action="#{taskView.describeRequisitionRequest}"
				update="requisitionDescribe"></p:commandButton>
		</div>
		<ui:include src="/logged/user/userDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>