<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.cv.review']}</title>
</h:head>

<h:body>
	<h:form id="cvReview">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['cv.review']}</p>
				<div class="field-group">
					<p:outputLabel for="user" value="#{msg['vacation.user']}" />
					<div class="column">
						<p:commandLink id="user"
							actionListener="#{userView.detailUser(taskView.jobApplication.user)}"
							oncomplete="PF('userDialog').show();"
							update="cvReview:userDialog" immediate="true"
							value="#{taskView.jobApplication.user.firstName} #{taskView.jobApplication.user.lastName}">
						</p:commandLink>
						<p:commandLink id="cv" oncomplete="PF('cvDialog').show();"
							actionListener="#{taskView.prepareFile}" immediate="true"
							update="cvReview:cvDialog" value=" #{msg['cv.show.dialog']}">
						</p:commandLink>
					</div>
					<p:message for="user" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="decision" value="#{msg['cv.decision']}" />
					<div class="column">
						<p:selectOneRadio id="decision" value="#{taskView.selectedStatus}"
							layout="grid" columns="2"
							requiredMessage="#{msg['msg.required']}" required="true">
							<f:selectItems value="#{taskView.applicationStatuses}"
								var="status" itemLabel="#{status.name}" itemValue="#{status}" />
						</p:selectOneRadio>
					</div>
					<p:message for="decision" display="text" />
				</div>
			</div>
			<div class="field-group">
				<p:commandButton id="button-accept"
					value="#{msg['button.complete']}" action="#{taskView.reviewCv}" update="cvReview"></p:commandButton>
			</div>
		</div>
		<ui:include src="/logged/user/userDetailsDialog.xhtml" />
		<p:dialog id="cvDialog" header="#{msg['cv.show.dialog']}"
			showEffect="fade" widgetVar="cvDialog" modal="true" resizable="false">
			<pe:documentViewer id="cvDoc" height="700" width="550"
				value="#{taskView.file}" />
		</p:dialog>
	</h:form>
</h:body>
</html>