<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.vacation.review']}</title>
</h:head>

<h:body>
	<h:form id="vacationReview">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.vacation.review']}</p>
				<div class="field-group">
					<p:outputLabel for="user" value="#{msg['vacation.user']}" />
					<div class="column">
						<p:commandLink id="user"
							actionListener="#{userView.detailUser(taskView.vacation.user)}"
							oncomplete="PF('userDialog').show();"
							update="vacationReview:userDialog"
							value="#{taskView.vacation.user.firstName} #{taskView.vacation.user.lastName}">
						</p:commandLink>
					</div>
					<p:message for="user" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel id="vacationDays"
						value="#{msg['vacation.user.days']} #{vacationView.getUserVacationDays(taskView.vacation.user)}" />
				</div>
				<div class="field-group">
					<p:outputLabel for="startDate"
						value="#{msg['vacation.start.date']}" />
					<div class="column">
						<p:outputLabel id="startDate"
							value="#{taskView.vacation.startDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</p:outputLabel>
					</div>
					<p:message for="startDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="endDate" value="#{msg['vacation.end.date']}" />
					<div class="column">
						<p:outputLabel id="endDate" value="#{taskView.vacation.endDate}">
							<f:convertDateTime pattern="dd.MM.yyyy" />
						</p:outputLabel>
					</div>
					<p:message for="endDate" display="text" />
				</div>
				<div class="field-group">
					<p:outputLabel for="motivation"
						value="#{msg['vacation.motivation']}" />
					<div class="column">
						<p:inputTextarea id="motivation"
							value="#{taskView.vacation.motivation}" readonly="true"></p:inputTextarea>
					</div>
				</div>
			</div>
			<div class="field-group">
				<p:commandButton id="button-accept" value="#{msg['button.accept']}"
					action="#{taskView.approveVacationRequest}"></p:commandButton>
				<p:commandButton id="button-reject" value="#{msg['button.reject']}"
					action="#{taskView.rejectVacationRequest}"></p:commandButton>
			</div>
		</div>
		<ui:include src="/logged/user/userDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>