<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.contractors']}</title>
</h:head>

<h:body>
	<h:form id="allContractors">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['contractors']}</p>
				<p:dataTable var="contractor"
					value="#{contractorView.allContractors}" paginator="true"
					paginatorPosition="top" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {PageLinks} {NextPageLink}"
					rowsPerPageTemplate="5,10,15" emptyMessage="#{msg['data.empty']}">

					<p:column headerText="#{msg['contractor.name']}"
						filterBy="#{contractor.name}" filterMatchMode="contains">
						<h:outputText value="#{contractor.name}" />
					</p:column>

					<p:column headerText="#{msg['contractor.nip']}"
						filterBy="#{contractor.nip}" filterMatchMode="contains">
						<h:outputText value="#{contractor.nip}" />
					</p:column>

					<p:column headerText="#{msg['contractor.regon']}"
						filterBy="#{contractor.regon}" filterMatchMode="contains">
						<h:outputText value="#{contractor.regon}" />
					</p:column>

					<p:column headerText="#{msg['contractor.phone.number']}"
						filterBy="#{contractor.phoneNumber}" filterMatchMode="contains">
						<h:outputText value="#{contractor.phoneNumber}" />
					</p:column>

					<p:column headerText="#{msg['contractor.email']}"
						filterBy="#{contractor.email}" filterMatchMode="contains">
						<h:outputText value="#{contractor.email}" />
					</p:column>

					<p:column headerText="#{msg['actions']}">
						<p:commandButton id="button-details" icon="fa fa-info"
							actionListener="#{contractorView.detailContractor(contractor)}"
							oncomplete="PF('contractorDialog').show();"
							update="allContractors:contractorDialog"></p:commandButton>
						<p:commandButton id="button-edit" icon="fa fa-edit"
							action="#{contractorView.editContractor(contractor)}"></p:commandButton>
						<p:commandButton id="button-delete" icon="fa fa-remove"
							action="#{contractorView.deleteContractor(contractor)}"
							update="allContractors">
							<p:confirm header="#{msg['msg.confirmation']}"
								message="#{msg['msg.confirm.remove']}" icon="ui-icon-alert" />
						</p:commandButton>
					</p:column>

					<f:facet name="footer">
						<div class="table-button-holder">
							<p:commandButton id="button-add" value="#{msg['button.add']}"
								action="#{contractorView.addContractor}"></p:commandButton>
						</div>
					</f:facet>
				</p:dataTable>
			</div>
		</div>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="#{msg['msg.yes']}" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
				action="#{contractorView.deleteContractor(contractor)}"
				update="allContractors" />
			<p:commandButton value="#{msg['msg.no']}" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
		<ui:include src="/logged/contractor/contractorDetailsDialog.xhtml" />
	</h:form>
</h:body>
</html>