<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<p:dialog id="contractorDialog"
	header="#{msg['page.contractor.details']}" widgetVar="contractorDialog"
	modal="true" resizable="false" closeOnEscape="true" width="50%"
	draggable="false" closable="true">
	<div class="wrapper">
		<div class="middle">
			<div class="add-left-side">
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="name" value="#{msg['contractor.name']}" />
					</div>
					<div class="column">
						<p:outputLabel id="name" value="#{contractorView.contractor.name}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="nip" value="#{msg['contractor.nip']}" />
					</div>
					<div class="column">
						<p:outputLabel id="nip" value="#{contractorView.contractor.nip}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="regon" value="#{msg['contractor.regon']}" />
					</div>
					<div class="column">
						<p:outputLabel id="regon"
							value="#{contractorView.contractor.regon}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="krs" value="#{msg['contractor.krs']}" />
					</div>
					<div class="column">
						<p:outputLabel id="krs" value="#{contractorView.contractor.krs}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="phoneNumber"
							value="#{msg['contractor.phone.number']}" />
					</div>
					<div class="column">
						<p:outputLabel id="phoneNumber"
							value="#{contractorView.contractor.phoneNumber}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="email" value="#{msg['contractor.email']}" />
					</div>
					<div class="column">
						<p:outputLabel id="email"
							value="#{contractorView.contractor.email}" />
					</div>
				</div>
			</div>
			<div class="add-right-side">
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="cityY" value="#{msg['address.city']}" />
					</div>
					<div class="column">
						<p:outputLabel id="cityY" required="true"
							value="#{contractorView.contractor.address.city}" />
					</div>
				</div>
				<c:if test="#{contractorView.contractor.address.street != ''}">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="streetY" value="#{msg['address.street']}" />
						</div>
						<div class="column">
							<p:outputLabel id="streetY"
								value="#{contractorView.contractor.address.street}" />
						</div>
					</div>
				</c:if>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="zipCodeY" value="#{msg['address.zipcode']}" />
					</div>
					<div class="column">
						<p:outputLabel id="zipCodeY"
							value="#{contractorView.contractor.address.zipCode}" />
					</div>
				</div>
				<div class="field-group">
					<div class="dialog-label">
						<p:outputLabel for="houseNoY" value="#{msg['address.houseNo']}" />
					</div>
					<div class="column">
						<p:outputLabel id="houseNoY"
							value="#{contractorView.contractor.address.houseNumber}" />
					</div>
				</div>
				<c:if test="#{contractorView.contractor.address.flatNumber != ''}">
					<div class="field-group">
						<div class="dialog-label">
							<p:outputLabel for="flatNoY" value="#{msg['address.flatNo']}" />
						</div>
						<div class="column">
							<p:outputLabel id="flatNoY"
								value="#{contractorView.contractor.address.flatNumber}" />
						</div>
					</div>
				</c:if>
			</div>
		</div>
	</div>
</p:dialog>
</html>