<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="${facesContext.externalContext.requestLocale}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="css/style.css" />
	<title>#{msg['title.contractor.edit']}</title>
</h:head>

<h:body>
	<h:form id="contractorEdit">
		<div class="wrapper">
			<ui:include src="/resources/layouts/top_layout.xhtml" />
			<div class="middle">
				<p>#{msg['page.contractor.edit']}</p>
				<div class="add-left-side">
					<div class="field-group">
						<p:outputLabel for="name" value="#{msg['contractor.name']}" />
						<div class="column">
							<p:inputText id="name" required="true"
								value="#{contractorView.editContractor.name}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="name" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="nip" value="#{msg['contractor.nip']}" />
						<div class="column">
							<p:inputMask id="nip" required="true"
								value="#{contractorView.editContractor.nip}"
								requiredMessage="#{msg['msg.required']}" mask="999-99-99-999"/>
						</div>
						<p:message for="nip" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="regon" value="#{msg['contractor.regon']}" />
						<div class="column">
							<p:inputMask id="regon" required="true"
								value="#{contractorView.editContractor.regon}"
								requiredMessage="#{msg['msg.required']}" mask="999999999"/>
						</div>
						<p:message for="regon" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="krs" value="#{msg['contractor.krs']}" />
						<div class="column">
							<p:inputText id="krs" required="true"
								value="#{contractorView.editContractor.krs}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="krs" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="email" value="#{msg['contractor.email']}" />
						<div class="column">
							<p:inputText id="email" required="true"
								value="#{contractorView.editContractor.email}"
								requiredMessage="#{msg['msg.required']}"
								validatorMessage="#{msg['msg.email'] }">
								<f:validateRegex
									pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
							</p:inputText>
						</div>
						<p:message for="email" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="phoneNumber" value="#{msg['contractor.phone.number']}" />
						<div class="column">
							<p:inputMask id="phoneNumber" required="true" mask="999-999-999"
								value="#{contractorView.editContractor.phoneNumber}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="phoneNumber" display="text" />
					</div>
				</div>
				<div class="add-right-side">

					<div class="field-group">
						<p:outputLabel for="city" value="#{msg['address.city']}" />
						<div class="column">
							<p:inputText id="city" required="true"
								value="#{contractorView.editContractor.address.city}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="city" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="street" value="#{msg['address.street']}" />
						<div class="column">
							<p:inputText id="street" value="#{contractorView.editContractor.address.street}" />
						</div>
						<p:message for="street" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="zipCode" value="#{msg['address.zipcode']}" />
						<div class="column">
							<p:inputMask id="zipCode" required="true" mask="99-999"
								value="#{contractorView.editContractor.address.zipCode}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="zipCode" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="houseNo" value="#{msg['address.houseNo']}" />
						<div class="column">
							<p:inputText id="houseNo" required="true"
								value="#{contractorView.editContractor.address.houseNumber}"
								requiredMessage="#{msg['msg.required']}" />
						</div>
						<p:message for="houseNo" display="text" />
					</div>
					<div class="field-group">
						<p:outputLabel for="flatNo" value="#{msg['address.flatNo']}" />
						<div class="column">
							<p:inputText id="flatNo"
								value="#{contractorView.editContractor.address.flatNumber}" />
						</div>
						<p:message for="flatNo" display="text" />
					</div>
					<div class="field-group">
						<p:commandButton id="button-save" value="#{msg['button.save']}"
							action="#{contractorView.updateContractor}" update="contractorEdit"></p:commandButton>
						<p:commandButton id="button-cancel"
							value="#{msg['button.cancel']}" action="#{contractorView.cancel}"
							immediate="true"></p:commandButton>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>